useDynLib(simone, .registration = TRUE)
export(coNetwork)
export(getNetwork)
export(plot.simone)
export(plot.simone.network)
export(rNetwork)
export(rTranscriptData)
export(setOptions)
export(simone)
import(blockmodels)
S3method(plot, simone)
S3method(plot, simone.network)
importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "axis", "layout", "legend", "matplot", "par", "plot", "points", "polygon", "rect", "strheight","strwidth", "text", "title")
importFrom("stats", "approx", "optim", "quantile", "rbinom", "rnorm", "runif", "var")
